
        body{
            margin: 0 auto;
            font-family: 'Roboto Slab', serif;
            font-size: 1vw;
            background-attachment: fixed;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            position: relative;
            min-height: 100vh;
            
        }
        @media screen and (min-width : 220px) and (max-width : 900px) {
            body{
                background-image: url(../images/background_1.jpg);
                background-attachment: fixed;
                margin: 0 auto;
                
            }
            #video-bg{
                display: none;
            }
            body .snow{
                text-align: justify;
                color: snow;
                background-color: black;
                display: none;
                width: 95%;
                margin: auto;
                font-size: 20px;
                height: auto;
            }
            body p, li{
                text-align: justify;
                color: snow;
                background-color: black;
                display: block;
                width: 95%;
                margin: auto;
                font-size: 20px;
                height: auto;
            }
            main ~ p{
                font-size: 20px;
            }
            ul:nth-child(1){
                width: 100%;
            }
            .menu-main {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                flex-direction: column;
                align-content: stretch;
                width: auto;    
              }
            .menu-main>li {
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
              }
              footer{
                display: none;
              }
              h1:hover{
                /*CSS transitions*/
                -o-transition-property: none !important;
                -moz-transition-property: none !important;
                -ms-transition-property: none !important;
                -webkit-transition-property: none !important;
                transition-property: none !important;
                /*CSS transforms*/
                -o-transform: none !important;
                -moz-transform: none !important;
                -ms-transform: none !important;
                -webkit-transform: none !important;
                transform: none !important;
                /*CSS animations*/
                -webkit-animation: none !important;
                -moz-animation: none !important;
                -o-animation: none !important;
                -ms-animation: none !important;
                animation: none !important;
              }
              h2:hover{
                /*CSS transitions*/
                -o-transition-property: none !important;
                -moz-transition-property: none !important;
                -ms-transition-property: none !important;
                -webkit-transition-property: none !important;
                transition-property: none !important;
                /*CSS transforms*/
                -o-transform: none !important;
                -moz-transform: none !important;
                -ms-transform: none !important;
                -webkit-transform: none !important;
                transform: none !important;
                /*CSS animations*/
                -webkit-animation: none !important;
                -moz-animation: none !important;
                -o-animation: none !important;
                -ms-animation: none !important;
                animation: none !important;
              }
            .page_main:hover{
                display: none;
                /*CSS transitions*/
                -o-transition-property: none !important;
                -moz-transition-property: none !important;
                -ms-transition-property: none !important;
                -webkit-transition-property: none !important;
                transition-property: none !important;
                /*CSS transforms*/
                -o-transform: none !important;
                -moz-transform: none !important;
                -ms-transform: none !important;
                -webkit-transform: none !important;
                transform: none !important;
                /*CSS animations*/
                -webkit-animation: none !important;
                -moz-animation: none !important;
                -o-animation: none !important;
                -ms-animation: none !important;
                animation: none !important;
            }
            .page_1:hover{
              display: none;
               /*CSS transitions*/
               -o-transition-property: none !important;
               -moz-transition-property: none !important;
               -ms-transition-property: none !important;
               -webkit-transition-property: none !important;
               transition-property: none !important;
               /*CSS transforms*/
               -o-transform: none !important;
               -moz-transform: none !important;
               -ms-transform: none !important;
               -webkit-transform: none !important;
               transform: none !important;
               /*CSS animations*/
               -webkit-animation: none !important;
               -moz-animation: none !important;
               -o-animation: none !important;
               -ms-animation: none !important;
               animation: none !important;
            }
            .page_2:hover{
              display: none;
               /*CSS transitions*/
               -o-transition-property: none !important;
               -moz-transition-property: none !important;
               -ms-transition-property: none !important;
               -webkit-transition-property: none !important;
               transition-property: none !important;
               /*CSS transforms*/
               -o-transform: none !important;
               -moz-transform: none !important;
               -ms-transform: none !important;
               -webkit-transform: none !important;
               transform: none !important;
               /*CSS animations*/
               -webkit-animation: none !important;
               -moz-animation: none !important;
               -o-animation: none !important;
               -ms-animation: none !important;
               animation: none !important;
            }
            .page_3:hover{
              display: none;
               /*CSS transitions*/
               -o-transition-property: none !important;
               -moz-transition-property: none !important;
               -ms-transition-property: none !important;
               -webkit-transition-property: none !important;
               transition-property: none !important;
               /*CSS transforms*/
               -o-transform: none !important;
               -moz-transform: none !important;
               -ms-transform: none !important;
               -webkit-transform: none !important;
               transform: none !important;
               /*CSS animations*/
               -webkit-animation: none !important;
               -moz-animation: none !important;
               -o-animation: none !important;
               -ms-animation: none !important;
               animation: none !important;
            }
            .page_4:hover{
              display: none;
               /*CSS transitions*/
               -o-transition-property: none !important;
               -moz-transition-property: none !important;
               -ms-transition-property: none !important;
               -webkit-transition-property: none !important;
               transition-property: none !important;
               /*CSS transforms*/
               -o-transform: none !important;
               -moz-transform: none !important;
               -ms-transform: none !important;
               -webkit-transform: none !important;
               transform: none !important;
               /*CSS animations*/
               -webkit-animation: none !important;
               -moz-animation: none !important;
               -o-animation: none !important;
               -ms-animation: none !important;
               animation: none !important;
            }
            iframe{
                display: none;
            }
            .snow{
                font-size: 20px;
            }
            h2{
                position: relative;
                top: 1.5em;
                left: 3.5em;
                font-size: 6vw;
                text-align: center;
                color: snow;
                background-color: black;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                -webkit-transition: ease-in-out .5s;
                -o-transition: ease-in-out .5s;
                transition: ease-in-out .5s;
                border-style: double;
                border-width: 0;
                width: 3em;
            }
        }
        h1{
            position: relative;
            top: 0.2em;
            left: 5em;
            font-size: 6vw;
            text-align: center;
            color: snow;
            background-color: black;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            -webkit-transition: ease-in-out .5s;
            -o-transition: ease-in-out .5s;
            transition: ease-in-out .5s;
            border-style: double;
            border-width: 0;
            width: 7em;
            cursor: pointer;
        }
        h1:hover{
            background-color: black;
            border-style: double;
            border-width: 30px;
            cursor: pointer;
        }
        h2{
            position: relative;
            top: 1.5em;
            left: 3.5em;
            font-size: 6vw;
            text-align: center;
            color: snow;
            background-color: black;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            -webkit-transition: ease-in-out .5s;
            -o-transition: ease-in-out .5s;
            transition: ease-in-out .5s;
            border-style: double;
            border-width: 0;
            width: 10em;
            cursor: pointer;
        }
        .snow{
            text-align: center;
            color: snow;
            position: relative;
            top: 1em;
            background-color: black;
            font-size: 1.5em;
            display: none;
        }
        #par1:checked ~ .snow{
            display: block;
            opacity: 1;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
        }
        h2,#par2{
            position: relative;
            top: -1em;
            font-size: 6em;
            text-align: center;
            color: snow;
            background-color: black;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            border-style: double;
            cursor: pointer;
        }
        h2:hover{
            background-color: black;
            border-style: double;
            border-width: 30px;
            cursor: pointer;
            
        }
        .style{
            text-align: center;
            color: snow;
            position: relative;
            top: -4em;
            background-color: black;
            display: none;
        }
        #par2:checked ~ .style{
            display: block;
            opacity: 1;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
        }
        li {
            list-style-type: none;
        }
        a { 
            text-decoration: none; 
            color: #43bdd7;
        } 
        #video-bg {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            z-index: 0;
            background: url(../images/background_1.jpg) no-repeat #94a233;
            background-size: cover;
        }
        #video-bg > video {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto; 
        }
    @supports ((-o-object-fit: cover) or (object-fit: cover)) {
        #video-bg > video {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }
        .freestyle,.freeride,.carving,.jibbing{
            color: greenyellow;
        }
        .page_main:hover{
            background-color: black;
            border-style: double;
            border-width: 10px;
            opacity: 1;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
        }
        .page_1:hover{ 
            background-color: black;
            border-style: double;
            border-width: 10px;
            opacity: 1;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
            
        }
        .page_2:hover{
            background-color: black;
            border-style: double;
            border-width: 10px;
            opacity: 1;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
           
        }
        .page_3:hover{
            background-color: black;
            border-style: double;
            border-width: 10px;
            opacity: 1;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
        }
        .page_4:hover{
            background-color: black;
            border-style: double;
            border-width: 10px;
            opacity: 1;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
            
        }
        nav{
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: ease-in-out .5s;
            -o-transition: ease-in-out .5s;
            transition: ease-in-out .5s;
            border-style: double;
            background-color: black;
            z-index: 5;
        
        }
            .menu-main{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            list-style: none;
            list-style-position: outside;
            -webkit-padding-start: 0;
                    padding-inline-start: 0;
            font-size: 2vw;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: ease-in-out .5s;
            -o-transition: ease-in-out .5s;
            transition: ease-in-out .5s;
            border-style: double;
            border-width: 0;
            z-index: 1;
            background-color: black;
            
            
        }
        
            .menu-main>li{
            -ms-flex-preferred-size: 20%;
                flex-basis: 20%;
            min-width: 100px;
            -webkit-padding-before: 0;
                    padding-block-start: 0;
            text-align: center;
            z-index: 1;
        }
            .ul {
            padding: 0;
            z-index: 1;
            }
        footer {
            text-align: center;
            z-index: 1;
            font-size: .8vw;
            position: absolute;
	        bottom: 0;
            color: snow;
            background-color: black;
            height: 8vw;
            width: 100%;
        }
    
        @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
        .social a {
            text-align: center;
            background: #fff;
            border: 2px solid #ccc;
            -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
                    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
            border-radius: 40px;
            margin: 0 10px 10px 0;
            padding: 7px;
            color: #000;
            position: relative;
            bottom: -1em;
        }
        
        a:nth-child(1):hover {
            background: black; color: #fff;
        }
        a:nth-child(2):hover{
            background: red; color: #fff;
        }
        a:nth-child(3):hover {
            background: rgb(175, 83, 21); color: #fff;
        }
        a:nth-child(4):hover {
            background: blue; color: #fff;
        }
        label{
            cursor: pointer;
        }
       
    }
    