body{
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    font-size: 1vw;
    background-image: url(../images/background_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    min-height: 100vh;
}
@media screen and (min-width : 100px) and (max-width : 900px) {
    #video-bg {display: none;}
    body{
        background-image: url(../images/background_1.jpg);
        background-attachment: scroll;
        margin: 0 auto;
    }
    body p, li{
        font-size: 20px;
    }
    .menu-main {
        flex-wrap: wrap;
      }
     .menu-main>li {
        flex-basis: 100%;
        flex-direction: row;
      }
      h2{
        font-size: 13px;
    }
    main{
        text-align: justify;
        color: snow;
        /* position: relative;
        margin-left: auto;
        margin-right: auto; */
        border: 5px solid snow;
        background-color: rgba(0, 0, 0, 0.7);
        display: block;
        padding: 5px;
        width: 100%;
    }
a { 
    text-decoration: none; 
    color: #43bdd7;
} 
.page_main:hover{
    color: snow;
    background-color: black;
    border-style: double;
    border-width: 10px;
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    
}
.page_1:hover{
    color: snow;
    background-color: black;
    border-style: double;
    border-width: 10px;
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    
}
.page_2:hover{
    color: snow;
    background-color: black;
    border-style: double;
    border-width: 10px;
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
   
}
.page_3:hover{
    color: snow;
    background-color: black;
    border-style: double;
    border-width: 10px;
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.page_4:hover{
    color: snow;
    background-color: black;
    border-style: double;
    border-width: 10px;
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    
}
nav{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
    border-style: double;
    background-color: black;

}
    .menu-main{
    display: flex;
    list-style: none;
    list-style-position: outside;
    padding-inline-start: 0;
    font-size: 2vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
    border-style: double;
    border-width: 0;
}

    .menu-main>li{
    flex-basis: 20%;
    min-width: 100px;
    padding-block-start: 0;
    text-align: center;
}
    .ul {
    padding: 0;
    }
main{
    text-align: justify;
    color: snow;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid snow;
    background-color: rgba(0, 0, 0, 0.7);;
    font-size: 1vw;
    display: block;
    padding: 50px;
    width: 90vw;
}
h1{
    position: relative;
    top: 0.2em;
    left: 10em;
    font-size: 3vw;
    text-align: center;
    color: snow;
    background-color: black;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
    border-style: double;
    border-width: 0;
    width: 14em;
}
h2{
    color: #43bdd7;
    text-align: center;
}
h3{
    color: greenyellow;
    text-align: center;
}
h4{
    color: greenyellow;
}
a:hover{
    color: snow;
}
.price{
    color: #43bdd7;
}
.fly{
    background-color: black;
    border-style: solid;
    border-width: 2px;
}
.mountain{
    text-align: center;
}
#core{
    position: fixed;
    top: 90%;
}