body{
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    font-size: 1vw;
    background-image: url(../images/background_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    min-height: 100vh
}
    @media screen and (min-width : 100px) and (max-width : 900px) {
    #video-bg {display: none;}
    body{
        background-image: url(../images/background_1.jpg);
        background-attachment: fixed;
        margin: 0 auto;
    }
    body p, li{
        font-size: 20px;
    }
    .menu-main {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-line-pack: stretch;
                align-content: stretch;
            width: 100%;
      }
    .menu-main>li {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
      }
      ul:nth-child(1){
        width: 100%;
    }
    .page_main:hover{
        display: block;
        /*CSS transitions*/
        -o-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        animation: none !important;
    }
    .page_1:hover{
      display: block;
       /*CSS transitions*/
       -o-transition-property: none !important;
       -webkit-transition-property: none !important;
       transition-property: none !important;
       /*CSS transforms*/
       -ms-transform: none !important;
       -webkit-transform: none !important;
       transform: none !important;
       /*CSS animations*/
       -webkit-animation: none !important;
       animation: none !important;
    }
    .page_2:hover{
      display: block;
       /*CSS transitions*/
       -o-transition-property: none !important;
       -webkit-transition-property: none !important;
       transition-property: none !important;
       /*CSS transforms*/
       -ms-transform: none !important;
       -webkit-transform: none !important;
       transform: none !important;
       /*CSS animations*/
       -webkit-animation: none !important;
       animation: none !important;
    }
    .page_3:hover{
      display: block;
       /*CSS transitions*/
       -o-transition-property: none !important;
       -webkit-transition-property: none !important;
       transition-property: none !important;
       /*CSS transforms*/
       -ms-transform: none !important;
       -webkit-transform: none !important;
       transform: none !important;
       /*CSS animations*/
       -webkit-animation: none !important;
       animation: none !important;
    }
    .page_4:hover{
      display: block;
       /*CSS transitions*/
       -o-transition-property: none !important;
       -webkit-transition-property: none !important;
       transition-property: none !important;
       /*CSS transforms*/
       -ms-transform: none !important;
       -webkit-transform: none !important;
       transform: none !important;
       /*CSS animations*/
       -webkit-animation: none !important;
       animation: none !important;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 22px;
    }
      #core{
        display: none;
    }
    main{
        text-align: justify;
        color: snow;
        background-color: rgba(0, 0, 0, 0.7);
        display: block;
        min-width: 90%;
        border: 1px solid snow;
    }
}
    a { 
    text-decoration: none;
    color: #43bdd7; 
} 
.page_main:hover{
    color: snow;
    background-color: black;
    border-style: double;
    border-width: 10px;
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    
}
.page_1:hover{
    color: snow;
    background-color: black;
    border-style: double;
    border-width: 10px;
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    
}
.page_2:hover{
    color: snow;
    background-color: black;
    border-style: double;
    border-width: 10px;
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
   
}

.page_3:hover{
    color: snow;
    background-color: black;
    border-style: double;
    border-width: 10px;
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.page_4:hover{
    color: snow;
    background-color: black;
    border-style: double;
    border-width: 10px;
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    
}
nav{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
    border-style: double;
    background-color: black;

}
    .menu-main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    list-style-position: outside;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    font-size: 2vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
    border-style: double;
    border-width: 0;
    
}

    .menu-main>li{
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    min-width: 100px;
    -webkit-padding-before: 0;
            padding-block-start: 0;
    text-align: center;
}
    .ul {
    padding: 0;
    }
h1{
    position: relative;
    top: 0.2em;
    left: 10em;
    font-size: 3vw;
    text-align: center;
    color: snow;
    background-color: black;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
    border-style: double;
    border-width: 0;
    width: 14em;
    
}
h2{
    color: #43bdd7;
    text-align: center;
}
h3{
    color: greenyellow;
}
main{
    text-align: justify;
    color: snow;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.7);;
    font-size: 1vw;
    display: block;
    width: 95vw;
    padding: 5px;
}
a>img{
    color: greenyellow;
}
.camber{
   text-align: center;
}
.zest{
    text-align: center;
}
.shnur{
    text-align: center;
}
.bakli{
    text-align: center;
}
.highback{
    text-align: center;
}
.krep1{
   text-align: center;
}
#core{
    position: fixed;
    top: 90%;
}